IF not exists(select * from sys.databases where name = 'MotorWorld')
    create database MotorWorld
GO

USE [MotorWorld]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 08/08/2013 10:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__UserProf__1788CC4C7F60ED59] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserProfile] ON
INSERT [dbo].[UserProfile] ([UserId], [UserName]) VALUES (4, N'testing')
INSERT [dbo].[UserProfile] ([UserId], [UserName]) VALUES (5, N'testing2')
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
/****** Object:  Table [dbo].[Cities_extended]    Script Date: 08/08/2013 10:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cities_extended](
	[cityId] [int] IDENTITY(1,1) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[state_code] [char](2) NOT NULL,
	[zip] [varchar](5) NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
	[county] [varchar](225) NOT NULL,
 CONSTRAINT [PK__cities_e__B4BEB95E778AC167] PRIMARY KEY CLUSTERED 
(
	[cityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cities_extended] ON
INSERT [dbo].[Cities_extended] ([cityId], [city], [state_code], [zip], [latitude], [longitude], [county]) VALUES (1, N'Holtsville', N'NY', N'00501', 40.8152, -73.0455, N'Suffolk')
INSERT [dbo].[Cities_extended] ([cityId], [city], [state_code], [zip], [latitude], [longitude], [county]) VALUES (2, N'Holtsville', N'NY', N'00544', 40.8152, -73.0455, N'Suffolk')
INSERT [dbo].[Cities_extended] ([cityId], [city], [state_code], [zip], [latitude], [longitude], [county]) VALUES (3, N'Adjuntas', N'PR', N'00601', 18.1788, -66.7516, N'Adjuntas')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
GO
print 'Processed 4000 total records'
GO
print 'Processed 4100 total records'
GO
print 'Processed 4200 total records'
GO
print 'Processed 4300 total records'
GO
print 'Processed 4400 total records'
GO
print 'Processed 4500 total records'
GO
print 'Processed 4600 total records'
GO
print 'Processed 4700 total records'
GO
print 'Processed 4800 total records'
GO
print 'Processed 4900 total records'
GO
print 'Processed 5000 total records'
SET IDENTITY_INSERT [dbo].[Cities_extended] OFF
/****** Object:  Table [dbo].[BikeTypes]    Script Date: 08/08/2013 10:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BikeTypes](
	[Year] [int] NOT NULL,
	[Make] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[BikeId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_BikeTypes] PRIMARY KEY CLUSTERED 
(
	[BikeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BikeTypes] ON
INSERT [dbo].[BikeTypes] ([Year], [Make], [Model], [BikeId]) VALUES (2011, N'Honda', N'CBR250', 6)
INSERT [dbo].[BikeTypes] ([Year], [Make], [Model], [BikeId]) VALUES (2012, N'Honda', N'CBR250', 5)
INSERT [dbo].[BikeTypes] ([Year], [Make], [Model], [BikeId]) VALUES (2013, N'Honda', N'CBR250', 7)
SET IDENTITY_INSERT [dbo].[BikeTypes] OFF
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 08/08/2013 10:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 08/08/2013 10:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 08/08/2013 10:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL,
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (4, CAST(0x0000A1C50148D95D AS DateTime), NULL, 1, NULL, 0, N'ABLf50n/vnsnpNej9vZ9cYHvu5BSHZRzFoXor3V3T6EHs7JXLvtS58I5OkCta3d1gA==', CAST(0x0000A1C50148D95D AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (5, CAST(0x0000A1E00137DE93 AS DateTime), NULL, 1, NULL, 0, N'AC8kHve/phr1kU3x5kBO4JJfF/Z3q5hwPrOWitcQ49U+hxw5r2TgA1zbhlGoDsraxg==', CAST(0x0000A1E00137DE93 AS DateTime), N'', NULL, NULL)
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 08/08/2013 10:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BikesOwned]    Script Date: 08/08/2013 10:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BikesOwned](
	[UserId] [int] NOT NULL,
	[BikeId] [int] NOT NULL,
 CONSTRAINT [PK_Bikes] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[BikeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BikesOwned] ([UserId], [BikeId]) VALUES (4, 5)
INSERT [dbo].[BikesOwned] ([UserId], [BikeId]) VALUES (4, 6)
/****** Object:  Table [dbo].[Trips]    Script Date: 08/08/2013 10:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Trips](
	[TripId] [int] IDENTITY(1,1) NOT NULL,
	[BikeId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[TripName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Trips_1] PRIMARY KEY CLUSTERED 
(
	[TripId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Trips] ON
INSERT [dbo].[Trips] ([TripId], [BikeId], [Date], [UserId], [TripName]) VALUES (1, 5, CAST(0x0000A1BB00000000 AS DateTime), 4, N'MainTrip')
INSERT [dbo].[Trips] ([TripId], [BikeId], [Date], [UserId], [TripName]) VALUES (5, 5, CAST(0x0000A1BC00000000 AS DateTime), 4, N'SecondTrip')
INSERT [dbo].[Trips] ([TripId], [BikeId], [Date], [UserId], [TripName]) VALUES (6, 5, CAST(0x0000A1BC00000000 AS DateTime), 4, N'Third')
SET IDENTITY_INSERT [dbo].[Trips] OFF
/****** Object:  Table [dbo].[Waypoints]    Script Date: 08/08/2013 10:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Waypoints](
	[TripId] [int] NOT NULL,
	[Sequence] [int] NOT NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_Waypoints_1] PRIMARY KEY CLUSTERED 
(
	[TripId] ASC,
	[Sequence] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Waypoints] ([TripId], [Sequence], [CityId]) VALUES (1, 0, 5)
INSERT [dbo].[Waypoints] ([TripId], [Sequence], [CityId]) VALUES (1, 1, 6)
INSERT [dbo].[Waypoints] ([TripId], [Sequence], [CityId]) VALUES (1, 2, 16)
/****** Object:  Default [DF__webpages___IsCon__08EA5793]    Script Date: 08/08/2013 10:14:38 ******/
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
/****** Object:  Default [DF__webpages___Passw__09DE7BCC]    Script Date: 08/08/2013 10:14:38 ******/
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [PasswordFailuresSinceLastSuccess]
GO
/****** Object:  ForeignKey [FK_Bikes_UserProfile]    Script Date: 08/08/2013 10:14:38 ******/
ALTER TABLE [dbo].[BikesOwned]  WITH CHECK ADD  CONSTRAINT [FK_Bikes_UserProfile] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
ALTER TABLE [dbo].[BikesOwned] CHECK CONSTRAINT [FK_Bikes_UserProfile]
GO
/****** Object:  ForeignKey [FK_BikesOwned_BikeTypes]    Script Date: 08/08/2013 10:14:38 ******/
ALTER TABLE [dbo].[BikesOwned]  WITH CHECK ADD  CONSTRAINT [FK_BikesOwned_BikeTypes] FOREIGN KEY([BikeId])
REFERENCES [dbo].[BikeTypes] ([BikeId])
GO
ALTER TABLE [dbo].[BikesOwned] CHECK CONSTRAINT [FK_BikesOwned_BikeTypes]
GO
/****** Object:  ForeignKey [FK_Trips_BikesOwned]    Script Date: 08/08/2013 10:14:38 ******/
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD  CONSTRAINT [FK_Trips_BikesOwned] FOREIGN KEY([UserId], [BikeId])
REFERENCES [dbo].[BikesOwned] ([UserId], [BikeId])
GO
ALTER TABLE [dbo].[Trips] CHECK CONSTRAINT [FK_Trips_BikesOwned]
GO
/****** Object:  ForeignKey [FK_Trips_UserProfile1]    Script Date: 08/08/2013 10:14:38 ******/
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD  CONSTRAINT [FK_Trips_UserProfile1] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
ALTER TABLE [dbo].[Trips] CHECK CONSTRAINT [FK_Trips_UserProfile1]
GO
/****** Object:  ForeignKey [FK_Waypoints_Cities_extended]    Script Date: 08/08/2013 10:14:38 ******/
ALTER TABLE [dbo].[Waypoints]  WITH CHECK ADD  CONSTRAINT [FK_Waypoints_Cities_extended] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities_extended] ([cityId])
GO
ALTER TABLE [dbo].[Waypoints] CHECK CONSTRAINT [FK_Waypoints_Cities_extended]
GO
/****** Object:  ForeignKey [FK_Waypoints_Trips]    Script Date: 08/08/2013 10:14:38 ******/
ALTER TABLE [dbo].[Waypoints]  WITH CHECK ADD  CONSTRAINT [FK_Waypoints_Trips] FOREIGN KEY([TripId])
REFERENCES [dbo].[Trips] ([TripId])
GO
ALTER TABLE [dbo].[Waypoints] CHECK CONSTRAINT [FK_Waypoints_Trips]
GO
/****** Object:  ForeignKey [fk_RoleId]    Script Date: 08/08/2013 10:14:38 ******/
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
/****** Object:  ForeignKey [fk_UserId]    Script Date: 08/08/2013 10:14:38 ******/
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_UserId]
GO
