@if (Request.IsAuthenticated)
{
    <text> Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
    </text>
}
else
{
    <a href="@Url.Action("Register", "Account")">
        <img alt="Register" src="../../Images/Register.png" title="Register" />
    </a>
    <a href="@Url.Action("Login", "Account")">
        <img alt="Login" src="../../Images/Login.png" title="Login" />
    </a>
}
